<div class="container text-center", style='margin-top: 60px;'>
    <div class="page-title">
        <h1><%= @user.name %></h1>
    </div>
    <ul id="myTabs" class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#home"  aria-controls="home" role="tab" data-toggle="tab" class="nav-link active">認定リスト</a>
      </li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="nav-link">いいねリスト</a></li>
      <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab" class="nav-link">コメント</a></li>
    </ul>
    <div class="tab-content p-2 ">
      <div role="tabpanel" class="tab-pane active fade show" id="home">
        投稿したもの
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
        いいねしたもの
      </div>
      <div role="tabpanel" class="tab-pane fade" id="message">
      </div>
  </div>
    <%= link_to "ログアウト", sign_out_path %>
</div>