<div class="center jumbotron">
  <h1>- １番じゃなきゃ、ダメなんです。 -</h1>

  <h2>
    </br>
    ありとあらゆるラーメン情報が溢れかえる昨今。。。</br></br>
    本当に価値のある一杯は、一体どこにあるのか。非常に見えづらい世の中です。</br></br>
    BESTMENでは、あなたが認める一番のお店を、ジャンルごとに一店舗づつのみ登録できます。</br></br>
    そう、つまりここに掲載されているお店は、全て誰かのナンバーワン！ということ！
    みんなで１番だけをシェアして、最高のラーメンライフを送りましょう！
  </h2>

  <%= link_to "早速はじめる", new_user_registration_path, class: "btn btn-lg btn-primary jelly" %>
</div>