<div class="center jumbotron">
  <h1>- １番じゃなきゃ、ダメなんです。 -</h1>

  <h2>
    </br>
    ありとあらゆるオススメ情報が溢れかえる昨今。</br></br>
    本当に価値のあるものは何なのか、非常に見えづらい時代です。</br></br>
    ここではあなたが認めるナンバーワンを、各分野1つづつのみ投稿できます。</br></br>
    みんなの１番だけをシェアして、最高の情報を手にしましょう！
  </h2>

  <%= link_to "早速はじめる", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>