<div class="row">
  <% @pics.each do |pic| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="hover-parent d-block mx-auto">
        <%= link_to image_tag(pic.image.url(:medium), size: '300x300'), pic, remote: true %>
        <%= link_to pic, remote: true do %>
          <div class="mask text-center">
            <div class="caption"><%= pic.title %></div>
            <%= pic.get_likes.size %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>