<div class="container", style='margin-top: 60px;'>
  <div class="sort">
    <%= render partial: 'pics/sort' %>
  </div>
</div>

<% unless @pics.empty? %>
  <%= render partial: 'pics/index' %> <!-- ここで表示画面変更 -->
<% else %>
<div class="no-posts">
  <h1>まだ投稿はありません。</br></br>最初の登録者になりましょう！</h1>
</div>
<% end %>

