<div class="container">
  <div class="page-title">
    <h1>名店一覧</h1>
  </div>
  <div class="ramen-sort grey-background">
    <%= render partial: 'pics/sort' %>
  </div>
  <% unless @pics.empty? %>
    <%= render partial: 'pics/index' %> <!-- ここで表示画面変更 -->
  <% else %>
  <div class="no-posts">
    <h1>まだ投稿はありません。</br></br>最初の登録者になりましょう！</h1>
  </div>
  <% end %>
</div>