
<% @pics.each do |pic| %>
  <div class="card", style="width: 20rem;">
    <div class="card-img-top"><%= link_to image_tag(pic.image.url(:medium)), pic %></div>
    <div class="card-body"><h2><%= link_to pic.title, pic %></h2></div>
  </div>
<% end %>