<% provide(:title, "認定する") %>

<div class="container">
  <div class="page-title">
    <h1>認定する</h1>
  </div>
  <div class="ramen-new-form lightgrey-background">
    <%= render "pics/form" %>
  </div>
</div>