// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ramen-background{
    background-image: image-url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    h1{
       font-family: 'kssweetheavycalligraphy';
       color: $ramen-red;
       font-size: 6.3rem;
       line-height: 1.5;
       
    }
    h2{
       font-family: 'rounded-l-mgenplus-2c-bold';
       font-size: 1.2rem;
       line-height: 1.9;
    }
}

.strong{
    font-size: 1.4em;
    color: $ramen-red;
}

.strong2{
    font-size: 1.4em;
    color: $ramen-red;
    border-bottom: double 0.3rem $ramen-red;
}