// Place all the styles related to the Pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index.html.erb
.ramen-sort{
  padding: 10px;
  margin-bottom: 50px;
}h2{
  font-weight: bold;
  font-size: 30px;
}
.ramen-sort-categories{
  padding-bottom: 15px;
}
.ramen-sort-category{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.no-posts{
  h1{
    text-align: center;
    font-family: 'rounded-l-mgenplus-2c-bold';
    color: black;
    padding: 100px 0;
  }
}

.ramen-box{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ramen-info-index{
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color:rgba(192,192,192,0.3);
}

.ramen-like{
  float: left;
}

.ramen-title-index{
  font-family: 'rounded-l-mgenplus-2c-bold';
  float: right;
}

.ramen-desc-index{
  background-color:rgba(192,192,192,0.15);
  font-size: 10px;
  padding: 10px;
}

.ramen-address-index{
  text-align:right;
}

//show.html.erb
.ramen-pic{
  padding-bottom: 5px;
}

.ramen-title-show{
    h1{
    font-family: 'rounded-l-mgenplus-2c-bold';
    padding-top: 15px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: groove 5px $ramen-red;
    }
}

.ramen-info-show{
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
}

.ramen-desc-show{
  padding: 20px;
}

.tab-content{
  margin-bottom: 30px;
}

//new.html.erb
.ramen-new-form{
  padding: 20px;
  margin-bottom: 20px;
}
