// Place all the styles related to the Pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index.html.erb
.sort{
  padding: 10px;
  margin-bottom: 50px;
}

.no-posts{
  h1{
    text-align: center;
    font-family: 'rounded-l-mgenplus-2c-bold';
    color: black;
    padding: 100px 0;
  }
}

.ramen-box{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ramen-info{
  height: 25px;
  background-color:rgba(192,192,192,0.3);
}

.ramen-like{
  float: left;
}

.ramen-title-index{
  font-family: 'rounded-l-mgenplus-2c-bold';
  float: right;
}

.ramen-desc-index{
  background-color:rgba(192,192,192,0.15);
  font-size: 10px;
  padding: 10px;
}

//show.html.erb
.ramen-pic{
    padding-top: 30px;
}

.ramen-title-show{
    h1{
    font-family: 'rounded-l-mgenplus-2c-bold';
    padding-top: 15px;
    }
}

.ramen-desc-show{
  padding: 20px;
}

.tab-content{
  margin-top: 10px;
  margin-bottom: 30px;
}

//new.html.erb
.ramen-new-form{
  padding: 20px;
  margin-bottom: 20px;
}