//show.html.erb
.user-pic{
  border-radius: 50%;
  width:  200px;
  height: 200px;
}
.user_profile{
  margin-top: 30px;
  padding: 10px;
  display: inline-block;
}
.user-activities{
  margin-top: 20px;
}
.user-edit-link{
  margin-top: 10px;
}
.user-logout-link{
  margin-bottom: 20px;
}
.ramen-genre-user{
  background-color: $ramen-red;
  color: white;
  font-family: 'rounded-l-mgenplus-2c-bold';
}