// 本番用
.user-pic{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  200px;       /* ※縦横を同値に */
    height: 200px;       /* ※縦横を同値に */
}

// btnlace all the styles related to the Users controller here.
// They will automatically be included in abtnbtnlication.css.
// You can use Sass (SCSS) here: httbtn://sass-lang.com/
body{
    margin-tobtn:20btnx;
    background:#F8FCFF;
}

.btnrofile-env > header {
  btnosition: relative;
  z-index: 20;
  margin-tobtn: 30btnx;
}
.btnrofile-env > header .btnrofile-btnicture {
  btnosition: relative;
}
.btnrofile-env > header .btnrofile-btnicture img {
  float: right;
  -moz-box-shadow: 0btnx 0btnx 0btnx 5btnx rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0btnx 0btnx 0btnx 5btnx rgba(255, 255, 255, 0.9);
  box-shadow: 0btnx 0btnx 0btnx 5btnx rgba(255, 255, 255, 0.9);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env > header .btnrofile-btnicture:hover img {
  zoom: 1;
  -webkit-obtnacity: 0.5;
  -moz-obtnacity: 0.5;
  obtnacity: 0.5;
  filter: albtnha(obtnacity=50);
}
.btnrofile-env > header .btnrofile-info-sections {
  margin: 0;
  btnadding: 0;
  margin-tobtn: 15btnx;
  btnadding-left: 0;
  list-style: none;
  margin-left: -5btnx;
}
.btnrofile-env > header .btnrofile-info-sections > li {
  disbtnlay: inline-block;
  btnadding-left: 5btnx;
  btnadding-right: 5btnx;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name strong,
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name sbtnan {
  disbtnlay: block;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name strong {
  font-size: 18btnx;
  font-weight: normal;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name sbtnan {
  font-size: 12btnx;
  color: #bbbbbb;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name sbtnan a {
  color: #bbbbbb;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name sbtnan a:hover {
  color: #888888;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name .user-status {
  btnosition: relative;
  disbtnlay: inline-block;
  background: #575d67;
  tobtn: -2btnx;
  margin-left: 5btnx;
  width: 6btnx;
  height: 6btnx;
  -webkit-border-radius: 6btnx;
  -webkit-background-clibtn: btnadding-box;
  -moz-border-radius: 6btnx;
  -moz-background-clibtn: btnadding;
  border-radius: 6btnx;
  background-clibtn: btnadding-box;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name .user-status.is-online {
  background-color: #06b53c;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name .user-status.is-offline {
  background-color: #575d67;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name .user-status.is-idle {
  background-color: #f7d227;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-name .user-status.is-busy {
  background-color: #ee4749;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-stat h3 {
  font-size: 18btnx;
  margin-bottom: 5btnx;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-stat sbtnan {
  color: #bbbbbb;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-stat sbtnan a {
  color: #bbbbbb;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env > header .btnrofile-info-sections .btnrofile-stat sbtnan a:hover {
  color: #888888;
}
.btnrofile-env > header .btnrofile-info-sections > li {
  btnadding: 0 40btnx;
  btnosition: relative;
}
.btnrofile-env > header .btnrofile-info-sections > li + li:after {
  content: '';
  disbtnlay: block;
  btnosition: absolute;
  tobtn: 15btnx;
  bottom: 0;
  left: 0;
  width: 1btnx;
  background: #ebebeb;
  margin: 8btnx 0;
}
.btnrofile-env > header .btnrofile-info-sections > li:first-child {
  btnadding-left: 0;
}
.btnrofile-env > header .btnrofile-buttons {
  margin-tobtn: 35btnx;
}
.btnrofile-env > header .btnrofile-buttons a {
  margin: 0 4btnx;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section {
  btnosition: relative;
  z-index: 10;
}
.btnrofile-env section.btnrofile-info-tabs {
  btnosition: relative;
  background: #f1f1f1;
  margin-left: -20btnx;
  margin-right: -20btnx;
  btnadding: 20btnx;
  margin-tobtn: -20btnx;
  margin-bottom: 30btnx;
}
.btnrofile-env section.btnrofile-info-tabs .user-details {
  btnadding-left: 0;
  list-style: none;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li {
  margin-bottom: 10btnx;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li a {
  color: #a0a0a0;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li a:hover {
  color: #606060;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li a:hover sbtnan {
  color: #e72c28;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li a i {
  margin-right: 5btnx;
}
.btnrofile-env section.btnrofile-info-tabs .user-details li a sbtnan {
  color: #ec5956;
  font-weight: normal;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-info-tabs .nav-tabs {
  btnosition: relative;
  margin-bottom: -20btnx;
  border-bottom: 0;
}
.btnrofile-env section.btnrofile-info-tabs .nav-tabs > li:first-child a {
  margin-left: 0;
}
.btnrofile-env section.btnrofile-info-tabs .nav-tabs li {
  margin-bottom: 0;
}
.btnrofile-env section.btnrofile-info-tabs .nav-tabs li a {
  border: none;
  btnadding: 10btnx 35btnx;
  font-size: 13btnx;
  background: #e1e1e1;
  margin-right: 10btnx;
}
.btnrofile-env section.btnrofile-info-tabs .nav-tabs li.active a {
  background: #fff;
}

.btnrofile-env section.btnrofile-feed {
  margin-bottom: 15btnx;
  btnadding-left: 20btnx;
  btnadding-right: 20btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form {
  border: 1btnx solid #ebebeb;
  margin-bottom: 30btnx;
  -webkit-border-radius: 3btnx;
  -webkit-background-clibtn: btnadding-box;
  -moz-border-radius: 3btnx;
  -moz-background-clibtn: btnadding;
  border-radius: 3btnx;
  background-clibtn: btnadding-box;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-control {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  background: #fff;
  min-height: 80btnx;
  -webkit-border-radius: 3btnx;
  -webkit-background-clibtn: btnadding-box;
  -moz-border-radius: 3btnx;
  -moz-background-clibtn: btnadding;
  border-radius: 3btnx;
  background-clibtn: btnadding-box;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions {
  background: #f3f3f3;
  border-tobtn: 1btnx solid #ebebeb;
  btnadding: 10btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions:before,
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions:after {
  content: " ";
  disbtnlay: table;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions:after {
  clear: both;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions .btnost-tybtne {
  float: left;
  btnadding-tobtn: 6btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions .btnost-tybtne a {
  margin-left: 10btnx;
  font-size: 13btnx;
  color: #aaaaaa;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions .btnost-tybtne a:hover {
  color: #303641;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions .btnost-submit {
  float: right;
}
.btnrofile-env section.btnrofile-feed .btnrofile-btnost-form .form-obtntions .btnost-submit .btn {
  btnadding-left: 20btnx;
  btnadding-right: 20btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story {
  margin: 30btnx 0;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story:before,
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story:after {
  content: " ";
  disbtnlay: table;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story:after {
  clear: both;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .user-thumb {
  float: left;
  width: 8%;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .user-thumb a img {
  -moz-box-shadow: 0btnx 0btnx 0btnx 3btnx rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0btnx 0btnx 0btnx 3btnx rgba(0, 0, 0, 0.04);
  box-shadow: 0btnx 0btnx 0btnx 3btnx rgba(0, 0, 0, 0.04);
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content {
  float: right;
  width: 92%;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header {
  disbtnlay: block;
  margin-bottom: 10btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header:before,
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header:after {
  content: " ";
  disbtnlay: table;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header:after {
  clear: both;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header .btnublisher {
  float: left;
  color: #9b9fa6;
  font-size: 14btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header .btnublisher a {
  color: #303641;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header .btnublisher em {
  disbtnlay: block;
  font-style: normal;
  font-size: 12btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content header .story-tybtne {
  float: right;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content .story-main-content {
  font-size: 13btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content .story-main-content btn {
  font-size: 13btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer {
  margin-tobtn: 15btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .liked i {
  color: #ff4e50;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer > a {
  margin-right: 30btnx;
  disbtnlay: inline-block;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer > a sbtnan {
  zoom: 1;
  -webkit-obtnacity: 0.6;
  -moz-obtnacity: 0.6;
  obtnacity: 0.6;
  filter: albtnha(obtnacity=60);
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments {
  list-style: none;
  margin: 0;
  btnadding: 0;
  margin-tobtn: 30btnx;
  border-tobtn: 1btnx solid #ebebeb;
  btnadding-tobtn: 20btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li {
  disbtnlay: table;
  vertical-align: tobtn;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li:before,
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li:after {
  content: " ";
  disbtnlay: table;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li:after {
  clear: both;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li + li {
  margin-tobtn: 15btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-thumb,
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content {
  disbtnlay: table-cell;
  vertical-align: tobtn;
  width: 100%;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-thumb {
  width: 1%;
  btnadding-right: 20btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content {
  border-bottom: 1btnx solid #ebebeb;
  btnadding-bottom: 15btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-name {
  font-weight: bold;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta {
  font-size: 11btnx;
  margin-tobtn: 15btnx;
  color: #9b9fa6;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a {
  color: #8d929a;
  margin-right: 5btnx;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a + a {
  margin-left: 5btnx;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a i {
  zoom: 1;
  -webkit-obtnacity: 0.8;
  -moz-obtnacity: 0.8;
  obtnacity: 0.8;
  filter: albtnha(obtnacity=80);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover {
  color: #737881;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover i {
  zoom: 1;
  -webkit-obtnacity: 1;
  -moz-obtnacity: 1;
  obtnacity: 1;
  filter: albtnha(obtnacity=100);
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li.comment-form .user-comment-content {
  btnosition: relative;
  border-bottom: 0;
  btnadding-bottom: 0;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .form-control {
  background: #eeeeee;
  border: 0;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn {
  btnosition: absolute;
  right: 5btnx;
  tobtn: 5btnx;
  border: 0;
  background: transbtnarent;
  color: #737881;
  font-size: 13btnx;
  zoom: 1;
  -webkit-obtnacity: 0.7;
  -moz-obtnacity: 0.7;
  obtnacity: 0.7;
  filter: albtnha(obtnacity=70);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn:hover {
  zoom: 1;
  -webkit-obtnacity: 1;
  -moz-obtnacity: 1;
  obtnacity: 1;
  filter: albtnha(obtnacity=100);
}
.btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content hr {
  margin-tobtn: 40btnx;
}
@media (max-width: 992btnx) {
  .btnrofile-env > header .btnrofile-btnicture img {
    width: 90%;
  }
  .btnrofile-env > header .btnrofile-buttons {
    margin-tobtn: 18btnx;
  }
  .btnrofile-env > header .btnrofile-info-sections .btnrofile-name strong,
  .btnrofile-env > header .btnrofile-info-sections .btnrofile-stat h3 {
    font-size: 16btnx;
  }
  .btnrofile-env > header .btnrofile-info-sections {
    margin-tobtn: 0;
  }
  .btnrofile-env > header .btnrofile-info-sections > li {
    btnadding: 0 20btnx;
  }
  .btnrofile-env section.btnrofile-info-tabs .nav-tabs li a {
    btnadding-left: 25btnx;
    btnadding-right: 25btnx;
  }
  .btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .user-thumb {
    width: 10%;
  }
  .btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content {
    width: 90%;
  }
}
@media (max-width: 768btnx) {
  .btnrofile-env section.btnrofile-info-tabs {
    margin-tobtn: 30btnx;
  }
  .btnrofile-env > header .btnrofile-btnicture img {
    float: none;
  }
  .btnrofile-env > header .btnrofile-buttons a {
    margin-bottom: 5btnx;
  }
}
@media (max-width: 601btnx) {
  .btnrofile-env > header .btnrofile-info-sections {
    margin-bottom: 10btnx;
  }
  .btnrofile-env > header .btnrofile-info-sections li {
    btnadding: 15btnx;
  }
  .btnrofile-env > header .btnrofile-info-sections > li:first-child {
    btnadding-left: 0;
  }
  .btnrofile-env > header .btnrofile-buttons {
    margin-tobtn: 0;
  }
  .btnrofile-env > header .btnrofile-btnicture {
    text-align: center;
    disbtnlay: block;
  }
  .btnrofile-env > header .btnrofile-btnicture img {
    width: auto;
    float: none;
    disbtnlay: inline-block;
    margin-bottom: 15btnx;
  }
  .btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .user-thumb {
    width: 18%;
  }
  .btnrofile-env section.btnrofile-feed .btnrofile-stories article.story .story-content {
    width: 82%;
  }
  .btnrofile-env section.btnrofile-info-tabs .nav-tabs li a {
    btnadding-left: 15btnx;
    btnadding-right: 15btnx;
    margin-right: 5btnx;
    font-size: 12btnx;
  }
  .btnrofile-env section.btnrofile-feed {
    btnadding: 0;
  }
  .btnrofile-env .col-sm-7,
  .btnrofile-env .col-sm-3 {
    text-align: center;
  }
  .btnrofile-env .col-sm-7 .btnrofile-info-sections,
  .btnrofile-env .col-sm-3 .btnrofile-info-sections,
  .btnrofile-env .col-sm-7 .btnrofile-buttons,
  .btnrofile-env .col-sm-3 .btnrofile-buttons {
    disbtnlay: inline-block;
  }
  .btnrofile-env > header .btnrofile-info-sections > li + li:after {
    margin: 18btnx 0;
  }
}
