/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-social";
@import "comments";
@import "colors";
@import "home";
@import "like";
@import "maps";
@import "pics";
@import "users";
@import "users_signin_and_login";


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: 'rounded-l-mgenplus-2c-bold';
  src: font-url('/assets/rounded-l-mgenplus-2c-bold.ttf');
}

@font-face {
  font-family: 'kssweetheavycalligraphy';
  src: font-url('/assets/kssweetheavycalligraphy.ttf');
}

/* universal */
.ramen-background{
    background-image: image-url("background.jpg");
    background-size: cover;
}
.ramen-background2{
    background-image: image-url("background2.png");
    background-size: cover;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-100;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.page-title{
  font-family: 'rounded-l-mgenplus-2c-bold';
  margin-bottom: 30px;
}

/* body */
body{
  padding-top: 61.45px;
}

/* container */
.container{
  padding-top: 50px;
}
.container-small, .container-large {
    max-width: 100%;
}
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}


/* header */
.header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar{
  background-color: $ramen-red;
}

.navbar-nav{
  padding-right: 50px;
}
.navbar-brand{
  padding-left: 20px;
  padding-bottom: 10px;
}
.nav-item{
  color: white;
  font-family: 'rounded-l-mgenplus-2c-bold';
}
.navbar-toggler .navbar-toggler-icon {
  outline:none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* footer */

footer {
  background-color: $ramen-red;
  color: white;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* buttonのjelly */
.jelly {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  
}

.jelly:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/*select*/
.select {
  position: relative;
  color: white;
  margin-right: 5px;
}

.select::before, .select::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  transform-origin: center;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.select::before {
  left: -8px;
}

.select::after {
  right: -8px;
}

.select:hover::before, .select:hover::after {
  transform: scaleY(1);
}


/*hover*/
.hover-parent {
	width:			300px;
	height:			300px;
	overflow:		hidden;
	position:		relative;	/* 相対位置指定 */
}
.hover-parent .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
}
.hover-parent .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.hover-parent:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

/*kaminari*/
.pagination{
  justify-content: center;
}