<header class="navbar navbar-expand navbar-white bg-white fixed-top p-1">
      <div id="navbar-brand" href="#" >
        <%= link_to image_tag("bestone_logo.png", class:"img-responsive", alt: "Bestone logo"),
            root_path,  id: "logo"  %>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", "#", class: "nav-link" %>
        </li>
      </ul>
</header>