<p><%= User.find_by(email: @resource.email).name %>様</p>

<p>登録メールアドレス：<%= @resource.email %></p>
<p>パスワードの再設定を行います。以下のURLより設定を行なってください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合や、パスワード変更するのをやめる場合は何もする必要はございません。</p>
<p>上記URLで設定を完了するまで、パスワードは変更されません。</p>
 
<p>©2019 BESTMEN</p>